<div id="<%= dom_id shortcut %>">
  <p>
    <strong>Short url:</strong>
    <%= shortcut.short_url %>
  </p>

  <p>
    <strong>Full url:</strong>
    <%= shortcut.full_url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= shortcut.title %>
  </p>

  <p>
    <strong>Click count:</strong>
    <%= shortcut.click_count %>
  </p>

</div>
